<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Forms </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" routerLink="/login"> Fazer Login </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="dark" routerLink="/registro">
          Fazer Registro
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="dark" routerLink="/produto">
          Cadastrar Produto
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
